<div class="main-container">
  <timer class="time-container" [time]="time"></timer>
  <div class="input-container">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Please, enter a outputting frequency: </mat-label>
      <input matInput type="number" [(ngModel)]="userFirstInput" (input)="outputFreqChange()"
        [disabled]="enabler['firstInput']">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Please, enter a number: </mat-label>
      <input matInput type="number" [(ngModel)]="userSecondInput" (keyup.enter)="insertItem()"
        [disabled]="enabler['secondInput']">
    </mat-form-field>
  </div>
  <div *ngIf="userFirstInput > 0" class="buttons-container">
    <button *ngIf="!enabler['firstInput']" mat-button (click)="halt()"> HALT </button>
    <button *ngIf="!enabler['firstInput']" mat-button (click)="resume()"> RESUME </button>
    <button *ngIf="!enabler['firstInput']" mat-button (click)="quit()"> QUIT </button>
    <button *ngIf="enabler['firstInput']" mat-button (click)="reset()"> RESET </button>
  </div>
  <p *ngIf="enabler['fib']">FIB</p>
  <p *ngIf="enabler['firstInput']">Thanks for playing!</p>
  <div class='message-container' *ngIf="enabler['finalMessage']">
    <p *ngFor="let i of inputList">
      # Number: <b>{{i['number']}}</b> # Frequency: <b>{{i['frequency']}}</b> # Time Entered: <b>{{i['time']}}</b>
    </p>
  </div>
</div>
<style>
  .time-container {
    display: flex;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
  }

  .input-container {
    display: flex;
    grid-gap: 10px;
  }

  .main-container {
    background: radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .buttons-container {
    display: flex;
    grid-gap: 20px;
  }
</style>