<p class="timer-number">{{time}}</p>
<style>
    .timer-number {
        font-size: 40px;
        padding: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgba(0, 0, 0, 0.5);
    }
</style>